<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>add to card</title>
<!-- Material.io/ CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../../styles.css">


</head>
<body>

<%

//Here this woud be disapear since we get the numberOfProducts from router based on DB
let fakeListFromDb = ["product1", "product2", "product3"]
let numberOfProducts = fakeListFromDb.length
%>


<header class="fixed_header">

    <div class="nav-wrapper buyer buyer-shop-header">
        <div class="nav-wrapper--left buyer">
            <a onclick="history.back()"><span class="material-icons nav-icon">arrow_back</span></a>
        </div>

        <div class="nav-wrapper--middle buyer">
            Product name
        </div>

        <div class="nav-wrapper--right buyer">
            <div class="bag">
                <a href="/shopping_cart/shopping_cart">
                <%if(cardItemsTotal !== 0 ){%>
                <div class="dot"> <%=cardItemsTotal%></div>
                <%}%>
                <span class="material-icons nav-icon seller-shop"> shopping_cart </span>
                </a>
            </div>
        </div>

    </div>
</header>


    <div class="top_space"></div>


<div class="add-cart-body ">

    <div class="container centerBox m-font">
        <img src="https://images.unsplash.com/photo-1515923019249-6b544314450f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"
             class="responsive-img product-l-image" >
    </div>


    <!--Product Info-->
    <div class="product_info">
        <h2><%= productInfo.product_name%></h2>
        <h4><%= productInfo.product_description%></h4>
        <h3><%= storeInfo.store_address%></h3>
        <h3>$<%=productInfo.product_price%> CAD</h3>

    </div>



    <div class="product_react_btn_set">
        <button><span class="material-icons white-text ">mode_comment</span></button>
        <button><span class="material-icons ">share</span></button>
        <button><span class="material-icons ">star</span></button>

    </div>

<div class="add_card_btn">
    <button class="addToCartBtn semibold l-font m-bn">Add To Cart </button>
</div>

    <div class="bottom_space"></div>

</div>
<footer>
    <%- include('../elements/seller_footer',{page:"product_post"}) %>
</footer>



</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>

    document.querySelector(".addToCartBtn").addEventListener("click", () => {

        axios.post('/add_cart/add_cart')
            .then(response => {
                document.querySelector(".dot").innerHTML = response.data.quantity
                // console.log(cartItemsTotal, "the item has been added to the bag ")

            })
            .catch(error => {
                console.log(error);
            })
    })


</script>
</html>