
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Footer</title>

    <!-- Material.io/ CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>

<!--comment above later -->

<nav class="nav">

<!--    //seller_landing fix this later -->
    <a href="/seller_landing/seller_landing" class="nav-link <%= page === "page_landing" ? "link-active" : "" %>">
        <i class=" material-icons nav-icon">home</i>
        <span class="nav-text"> Home</span>
    </a>
    <a href="/orders/orders_1" class="nav-link <%= page === "orders" ? "link-active" : "" %>">
        <i class=" material-icons nav-icon">shopping_bag</i>
        <span class="nav-text"> orders</span>
    </a>
    <a href="/product_post/product_post_1" class="nav-link <%= page === "product_post" ? "link-active" : "" %>">
        <i class=" material-icons nav-icon">add_circle</i>
        <span class="nav-text"> post</span>
    </a>

    <a href="/analytics/analytics_1" class="nav-link <%= page === " analytics" ? "link-active" : "" %>">

        <i class=" material-icons nav-icon" >leaderboard</i>
        <span class="nav-text"> analytics</span>
    </a>
<!--    change this based on userrr whch is logged in -->
    <a href="/seller_shop/seller_shop" class="nav-link <%= page === "seller_shop" ? "link-active" : "" %>">
        <i class=" material-icons nav-icon ">manage_accounts</i>
        <span class="nav-text"> shop</span>
    </a>
</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>

