<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>shopping cart</title>
<!-- Material.io/ CSS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="../../styles.css">

<style>
    /* @media only screen and (min-width:400px){
        .shopping_cart_i{
       max-width: 20%;
       max-height: 20%;
    } */

    section {
        border-bottom: 1px solid #B4B4B4;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.20);
        padding: 2%;
        /* display: flex;
        justify-content: space-around; */
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 20px;
    }

    .shopping_cart_i {
        max-width: auto;
        height: 120px;
        border: 1px solid gray;
        border-radius: 50%;
        place-self: center;
    }

    .productName,
    .totalAmount {
        font-size: 20px;
        font-weight: 600;
    }

    .remove {
        text-decoration: underline;
    }

    .saveForLater {
        font-weight: 500;
        color: #E3974F;
    }


    .quantityBtn button {
        display: block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 1px solid #E3974F;
        background-color: #E3974F;
        color: white;
        font-size: 20px;
        margin: 5px;
    }




    .quantityBtn button:hover {
        background: #3F69A0;
        cursor: pointer;
        border: #3F69A0;
    }

    .quantityBtn {
        display: flex;
        margin: 5px;
    }

    .quantityBtn span {
        margin: 5px;
    }

    .price {
        display: block;
        margin-left: 10px;
        font-size: 20px;


    }

    .subtotal {
        /* display: block; */
        margin: 5%;
        /* align-content: flex-end; */
        flex-direction: column;
        float: right;
        text-align: right;
    }
</style>

</head>

<body>



    <header class="fixed_header">

        <div class="nav-wrapper buyer buyer-shop-header">
            <div class="nav-wrapper--left buyer">
                <a onclick="history.back()"><span class="material-icons nav-icon">arrow_back</span></a>
            </div>

            <div class="nav-wrapper--middle buyer">
                Cart
            </div>

            <div class="nav-wrapper--right buyer">
                <div class="bag">
                    <div class="dot">
                        <%= cartQuantity %>
                    </div>
                    <span class="material-icons nav-icon seller-shop"> shopping_cart </span>
                </div>
            </div>

        </div>
    </header>

    <div class="top_space"></div>

    <% let subtotal=0 %>
        <% for(let cartItem of cartIterms){ %>
         
            <section>
                <img src="<%= cartItem.image_file_paths[0] %>" class="shopping_cart_i">
                <div>
                    <p class="productName">
                        <%= cartItem.product_name %>
                    </p>
                    <p class="remove">Remove</p>
                    <p class="saveForLater">Save for later</p>
                </div>
                <div class="priceAndQuantity">
                    <p class="price">$<%= cartItem.product_price %>
                    </p>
                    <div class="quantityBtn">

                        <button type="button"
                            onclick="incrementQuantity('<%= cartItem.cart_product_id %>','<%= cartItem.buyer_id %>')">&#43;</button>
                        <span class="product_quantity">
                            <%= cartItem.product_quantity %>
                        </span>
                        <button type="button"
                            onclick="decrementQuantity('<%= cartItem.cart_product_id %>','<%= cartItem.buyer_id %>')">&#8211;</button>
                    </div>
                    <% subtotal=subtotal+(+cartItem.product_quantity*(+cartItem.product_price)) %>
            </section>
            <% } %>

                <div class="subtotal">
                    <div>Subtotal:</div>
                    <script>let subtotal = <%= subtotal %></script>
                    <div class="totalAmount">CAD$<%= subtotal %>.00</div>
                    <button type="submit" class="yellow-bn xs-bn">checkout</button>
                </div>



                <div class="extraspace"></div>

              

                <footer>
                    <%- include('../elements/buyer_footer',{page:"product_post"}) -%>
                </footer>
</body>
<!-- <script src="../../help.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // function incrementQuantity(id){
    //     console.log(id)
    // }

    function incrementQuantity(cart_product_id, buyer_id) {
        axios.post('/shopping_cart/shopping_cart_add', {
            cart_product_id: cart_product_id,
            buyer_id: buyer_id
        }).then(response => {
            // console.log("+",response.data.quantity)
            let itermQuantity = response.data.itermQuantity
            let cartQuantity = response.data.cartQuantity
            document.querySelector(".product_quantity").innerText = itermQuantity
            document.querySelector(".dot").innerText = cartQuantity
        }).catch(error => {
            console.log(error);
        })
        location.reload();
    }


    function decrementQuantity(cart_product_id, buyer_id) {
        axios.post('/shopping_cart/shopping_cart_minus', {
            cart_product_id: cart_product_id,
            buyer_id: buyer_id
        }).then(response => {
            // console.log("-",response.data.quantity)
            let itermQuantity = response.data.itermQuantity
            let cartQuantity = response.data.cartQuantity
            document.querySelector(".product_quantity").innerText = itermQuantity
            document.querySelector(".dot").innerText = cartQuantity
        }).catch(error => {
            console.log(error);
        })
        location.reload();
    }





 


</script>

</html>