<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/logo/localscooplogo2.png">
	<link rel="stylesheet" href="/styles.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<style>
		.categoryHeader {
			margin-top: 15px;
		}

	</style>
	<title>Home</title>
</head>


<!--<style>-->
<!--	.nav-wrapper&#45;&#45;right{-->
<!--		display:flex;-->
<!--	}-->
<!--</style>-->

<body>
	<header class="fixed_header">
		<div class="nav-wrapper buyer buyer-shop-header">
			<div class="nav-wrapper--left buyer">
				<a onclick="history.back()"><span class="material-icons nav-icon">arrow_back</span></a>
			</div>
			<div class="nav-wrapper--middle buyer">
				Home
			</div>

			<div class="nav-wrapper--right buyer">

				<div>
					<a href="/chat/buyer"><span class="material-icons white-text nav-icon buyer">mode_comment</span></a>
				</div>
				<div class="bag">
					<a href="/shopping_cart/shopping_cart">
						<% if(cartQuantity !==0 ){ %>
							<div class="dot">
								<%= cartQuantity %>
							</div>
						<% } %>
						<span class="material-icons nav-icon buyer nav-icon"> shopping_cart </span>
					</a>
				</div>

			</div>


			<!--			<a href="/chat/buyer"><span class="material-icons white-text ">mode_comment</span></a>-->

		</div>
	</header>


	<main class="buyer-grid-body">
		<div class="top_space"></div>
		<div>
			<h2 class="categoryHeader">Trending Items</h2>
		</div>

		<div class="grid">

			<% productInfo.forEach(product=> { %>
				<a href="/add_cart/add_cart/<%= product.product_id%>">
					<div class="product-col cart">
						<img src=<%=product.image_file_paths[0]%> alt="product" style="width:100%">
						<h4>
							<%=product.product_name%>
						</h4>
						<p>
							<%=product.product_price%>
						</p>
					</div>
				</a>
				<%})%>
		</div>
		<div>
			<h2 class="categoryHeader">Trending Shops</h2>
		</div>
		<div class="grid">

			<% storeInfo.forEach(store=> { %>
				<a href="/follow_business/follow_business_2/<%= store.store_id%>">
					<div class="store-col cart">
						<img src=<%=store.image_file_paths[0]%> alt="store" style="width:100%">
						<!--			//<h4>storeCategory</h4>-->
						<h4>
							<%=store.store_name%>
						</h4>
						<!--				make it dynamic later -->
						<p>Vancouver, BC</p>
					</div>
				</a>
				<%})%>
		</div>
	</main>


	<div class="bottom_space"></div>
	<footer>
		<%- include('../elements/buyer_footer', {page:"follow_business"}) %>
	</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>

<!-- html: '<div style="border: 2px solid bisque; background-color: bisque; text-align: center;" ><h1>Thank you for supporting local business</h1><p>order confirmation</p></div>' -->
