<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/logo/localscooplogo2.png">

  <title>Your Shop Orders</title>

    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
      main * {
        padding: 1%;
        box-sizing: border-box;
      }


      .slider {
        margin: 5%;
        overflow-x: scroll;
      }

      .slider-inner {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
        pointer-events: none;
        padding: 5px;
        color: black;
      }

      /* the card */
      .slider-img {
        background-color: white;
        text-align: center;
        border-radius: 20px;
        width: 250px;
        height: 300px;
        box-shadow: 2px 10px 10px 4px rgba(0, 0, 0, 0.30);
      }

      .slideImg {
        border-radius: 10px;
        width: 200px;
        height: 200px;
        object-fit: contain;
      }

      .draft {
        display: flex;
        justify-content: space-between;
        margin: 5%;

      }

      .grid {
        display: flex;
        flex-direction: row;
        max-width: 90%;
        height: auto;
        margin-left: 20px;
      }

      .draftImg {
        border-radius: 10px;
        width: 120px;
        height: 120px;
      }

      .spaceAtBottom {
        height: 200px;
      }
    </style>
</head>

<body>

  <!--  HEADER -->
  <header class="fixed_header">
    <!--Back button-->
    <div class="nav-wrapper seller-shop seller-landing-header">
      <div class="nav-wrapper--left seller-shop">
        <span>Product Posts</span>
      </div>
      <div class="nav-wrapper--right seller-shop">
        <a href="/chat/store"><span class="material-icons nav-icon seller-shop">mode_comment</span></a>
        <a href="#"><span class="material-icons nav-icon seller-shop">settings</span></a>
      </div>
    </div>
  </header>
  <main>

    <!-- the carousel slider of cards -->
    <div class="top_space"></div>

    <div class="slider">
      <div class="slider-inner">

        <% for(let orderIndex=0; orderIndex < carouselSliderData.length; orderIndex++){ %>
          <div class="slider-img">
            <%= carouselSliderData[orderIndex].how_many_days_ago %> <br>
              <a href="/add_cart/add_cart/<%= carouselSliderData[orderIndex].product_id %>">
                <img src="<%= carouselSliderData[orderIndex].photo_file_path %>" alt="" class="slideImg"> <br>
              </a>
              <%= carouselSliderData[orderIndex].product_name %> <br>
                <%= carouselSliderData[orderIndex].product_price %> <br>
          </div>
          <% } %>
      </div>
    </div>

    <div class="store_info">
      <a href="/orders/orders_2">
        <button type="submit" class="yellow-bn m-3">Sold Products</button>
      </a>
    </div>

    <div class="draft">
      <div>Drafts</div>
      <div>&Rang;</div>
    </div>
    
    <!--THE GRID PART -->
    <!--https://stackoverflow.com/questions/65649642/square-css-grid-with-square-images-->
    <div class="grid">
      <a href="">
        <img src="../../uploads/post10.png" class="draftImg">
        <img src="../../uploads/post3.jpg" class="draftImg">
        <img src="../../uploads/post4.jpg" class="draftImg">
      </a>
    </div>
  </main>
  <div class="bottom_space"></div>
  <footer>
    <%- include('../elements/seller_footer.ejs',{page:"orders"}) %>
  </footer>
</body>

</html>