<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Your Shop Orders</title>
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <style>
    * {
      /* margin: 0; */
      padding: 1%;
      box-sizing: border-box;
    }

    .slider {
      margin:5%;
      overflow-x: scroll;
    }

    .slider-inner {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 5px; 
      pointer-events: none; 
    }

    /* the card */
    .slider-img {
      background-color: white;
      text-align: center;

      border-radius: 20px;
      width: 250px;
      height: 300px;
      box-shadow: 2px 10px 10px 4px rgba(0, 0, 0, 0.30);
    }

    .slideImg {
      border-radius: 10px;
      width: 200px;
      height: 200px;
    }

    .draft{
      display: flex;
      justify-content: space-between;
      margin: 5%;
     
    }

    .grid{
      display: flex;
      flex-direction: row;
      max-width: 100%; 
      height: auto;
      margin: auto;

    }

    .draftImg{
      border-radius: 10px;
      width: 120px;
      height: 120px;
    }
  </style>
</head>
<body>
    <!--  HEADER -->
    <header class="seller-shop-header">
      <div class="page-header l-font">
        Product Posts
      </div>
    </header>

    <!-- the carousel slider of cards -->
    <div class="slider">
      <div class="slider-inner">
        
          <div class="slider-img">
            <%= carouselSliderData[0].updateTime %> 
            <img src="/uploads/1d906045030fa0da94e21a3521f858cf.png" class="slideImg"> <br>
            <%= carouselSliderData[0].productName %> <br>
            <%= carouselSliderData[0].productPrice %> <br>
          </div>

          <div class="slider-img">
            <%= carouselSliderData[1].updateTime %> 
            <img src="https://img.hollisterco.com/is/image/anf/KIC_322-2656-1450-500_prod1?policy=product-large" alt="" class="slideImg"> <br>
            <%= carouselSliderData[1].productName %> <br>
            <%= carouselSliderData[1].productPrice %> <br>
          </div>

          <div class="slider-img">
            <%= carouselSliderData[2].updateTime %> 
            <img src="https://images.complex.com/complex/images/c_crop,h_2788,w_4956,x_26,y_209/c_fill,dpr_2.0,f_auto,q_auto,w_1400/fl_lossy,pg_1/c8ligvjip9xtfpnvicts/blue-louis-vuitton-nike-air-force-1-friends-and-family?fimg-ssr" alt="" class="slideImg"> <br>
            <%= carouselSliderData[2].productName %> <br>
            <%= carouselSliderData[2].productPrice %> <br>
          </div>

          <div class="slider-img">
            <%= carouselSliderData[3].updateTime %> 
            <img src="https://picsum.photos/<%= 300 + 3 %>" alt="" class="slideImg"> <br>
            <%= carouselSliderData[3].productName %> <br>
            <%= carouselSliderData[3].productPrice %> <br>
          </div>

          <div class="slider-img">
            <%= carouselSliderData[4].updateTime %> 
            <img src="https://picsum.photos/<%= 300 + 4 %>" alt="" class="slideImg"> <br>
            <%= carouselSliderData[4].productName %> <br>
            <%= carouselSliderData[4].productPrice %> <br>
          </div>

          <div class="slider-img">
            <%= carouselSliderData[5].updateTime %> 
            <img src="https://picsum.photos/<%= 300 + 5 %>" alt="" class="slideImg"> <br>
            <%= carouselSliderData[5].productName %> <br>
            <%= carouselSliderData[5].productPrice %> <br>
          </div>
        
      </div>
    </div>


    <!--  DESCRIPTION -->
    <div class="store_info">
      <a href="/orders/orders_2">
        <button type="submit" class="yellow-bn m-3">Sold Products</button>
      </a>
    </div>
    
    <div class="draft">
    <div>Drafts</div> 
    <div>&Rang;</div>
  
  </div>
    <!--THE GRID PART -->
    <!--https://stackoverflow.com/questions/65649642/square-css-grid-with-square-images-->
    <div class="grid">
        <a href="">
          <img src="https://picsum.photos/201" class="draftImg">
          <img src="https://picsum.photos/202" class="draftImg">
          <img src="https://picsum.photos/203" class="draftImg"> 
        </a>
    </div>
    

    <footer>
      <%- include('../elements/seller_footer.ejs') %>
    </footer>
</body>
</html>