<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <main>
        <div class="centerBox productSummary">
        <h2>Your Product is Live!</h2>
        <p>Your “Nike Sage Low” product listing has been succesfully posted to your business page.</p>
        <button type=" button" class="yellow-bn m-bn">Go to listing</button>
        </div>
        <p class="productList">New listing</p>
        
        <div class="imgAndProductInfo">
            <% if(productInfo){ %>
            <!-- <img src="https://images.unsplash.com/photo-1595950653106-6c9ebd614d3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" style="border-radius: 10px;"> -->
            <img src="<%= productInfo.imgUrl %>" alt="" style="border-radius: 10px;">
            <div class="productInfo">
                <div>Product Name : <%= productInfo.productName %></div>
                <div>Description : <%= productInfo.description %></div>
                <div>Category : <%= productInfo.category %></div>
                <div>Delivery Fee : $<%= productInfo.deliveryFee %></div>
                <div>Product Price : $<%= productInfo.productPrice %></div>
                <% } %>
            </div>

        </div>
    
    </main>
    <footer>
        <%- include('../elements/seller_footer') %>
    </footer>
</body>

</html>