<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/logo/localscooplogo2.png">

    <title>product posting</title>

    <%- include('../elements/seller_footer.ejs', {page:"page_landing"}) %>
        <link rel="stylesheet" href="../../styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <style>
            .newProductImage.newProductImage {
                height: 200px;
                width: 250px;
                border-radius: 15px;
                object-fit: contain;
            }
            
            .productList {
                color: black;
            }
        </style>
</head>

<body>
    <div class="center">
        <div class="centerBox productSummary">
            <h2>Your Product is Live!</h2>
            <p>Your <b>
                    <%= productInfo.productName %>
                </b> product listing has been succesfully posted to your business page.</p>
            <a href="/orders/orders_1">
                <button type=" button" class="yellow-bn m-bn">Go to listing</button>
            </a>
        </div>


        <div class="productList">New listing:</div>

        <a href="/orders/orders_1" class="productList">
            <div>New listing:</div>
        </a>

        <div class="imgAndProductInfo">
            <% if(productInfo){ %>
                <img src="<%= productInfo.imageFilePath %>" alt="" class="newProductImage">
                <div class="productInfo">
                    <div><b>Product Name:</b><br>
                        <%= productInfo.productName %>
                    </div>
                    <div><b>Description:</b><br>
                        <%= productInfo.description %>
                    </div>
                    <div><b>Category:</b> <br>
                        <%= productInfo.category %>
                    </div>
                    <div><b>Delivery Fee:</b><br> $
                        <%= productInfo.deliveryFee %>
                    </div>
                    <div><b>Product Price:</b> $
                        <%= productInfo.productPrice %>
                    </div>
                    <% } %>
                </div>
        </div>
    </div>
    <footer>
        <%- include('../elements/seller_footer',{page:"product_post"}) %>
    </footer>
</body>

</html>